{% include 'index.html' %}

<!DOCTYPE html>
<html lang="en">
    
    <body>
    
        <div>
    
            <form class="col s12" action="get_topics">
                <br>
                <div class="row">
                    <div class="col s4 offset-s4 input-field" style="text-align:middle">
                        <input type="text" class="form-control center" id="num_clusters" name="num_clusters" style="color:#9c8078;font-size:large">
                        <label class="col s12 center" for="num_clusters" style="color:#9c8078;font-size:medium">
                        Number of Clusters
                    </label>
                    </div>
                </div>
                <br>
                <br>
                <div class="row center">
                    <div class="col s12">
                        <div class="center">
                            <button type="submit" class="btn-floating waves-effect waves-circle center" style="width:16rem;height:16rem">
                            <h5 style="font-size: 36px; padding-top: 0px; color:rgb(0, 0, 0)">Get<br>Topics</h5>
                            </button>
                        </div>
                    </div>
                </div>
    
            </form>
    
        </div>
    
    </body>

</html>