{% include 'index.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chinese News Clusters</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="row center">
            <table style="color:#ae9790; background-color:rgb(29, 29, 24)">
                <tbody style="color:rgb(20, 18, 16)">
                    <tr>
                        {% for col in column_names %}
                        <th style="background-color:rgb(31, 29, 29); color:#ae9790; text-align:center">{{col}}</th>
                        {% endfor %}
                    </tr>
                    {% for row in row_data %}
                    <tr>
                        {% for col, row_ in zip(column_names, row) %}
                        <td style="background-color:rgb(31, 29, 29); color:#ae9790; text-align:center">{{row_}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row center">
            <h5 class="header col s12 light">If you really need it, we'll translate.<br><br>Be warned, many clusters might break it.</h5>
        </div>
    <div>
    <div>
        <form class="col s12" action="translated">
            <br>
            <div class="row">
                <div class="col s4 offset-s4 input-field" style="text-align:middle">
                    <input type="text" class="form-control center" id="num_clusters" name="num_clusters" style="color:#9c8078;font-size:large">
                    <label class="col s12 center" for="num_clusters" style="color:#9c8078;font-size:medium">
                    Number of Clusters
                </label>
                </div>
            </div>
            <br>
            <br>
            <div class="row center">
                <div class="col s12">
                    <div class="center">
                        <button type="submit" class="btn-floating waves-effect waves-circle center" style="width:16rem;height:16rem">
                        <h5 style="font-size: 36px; padding-top: 0px; color:rgb(0, 0, 0)">Translate<br>Please!</h5>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>