{% include 'index.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chinese News Clusters</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="row center">



            <table style="color:#ae9790; background-color:rgb(29, 29, 24)">
                <tbody style="color:rgb(20, 18, 16)">
                    <tr>
                        {% for col in column_names %}
                        <th style="background-color:rgb(31, 29, 29); color:#ae9790; text-align:center">{{col}}</th>
                        {% endfor %}
                    </tr>
                    {% for row in row_data %}
                    <tr>
                        {% for col, row_ in zip(column_names, row) %}
                        <td style="background-color:rgb(31, 29, 29); color:#ae9790; text-align:center">{{row_}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div class="row center">
                <h5 class="header col s12 light">Because you asked nicely...</h5>
            </div>
        <br>
        <div class="row center">
            <table style="color:#ae9790; background-color:rgb(29, 29, 24)">
                <tbody style="color:rgb(20, 18, 16)">
                    <tr>
                        {% for col in en_col_names %}
                        <th style="background-color:rgb(31, 29, 29); color:#ae9790; text-align:center">{{col}}</th>
                        {% endfor %}
                    </tr>
                    {% for row in en_row_data %}
                    <tr>
                        {% for col, row_ in zip(column_names, row) %}
                        <td style="background-color:rgb(31, 29, 29); color:#ae9790; text-align:center">{{row_}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>