<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chinese News Clusters</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

    <table>
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %} {% if col == link_column %}
            <td>
                <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
                    {{ row_ }}
                </button>
            </td>
            {% else %}
            <td>{{row_}}</td>
            {% endif %} {% endfor %}
        </tr>
        {% endfor %}

    </table>
</body>

</html>